<div class="bar">
  <ul class="bar__ul">
    <li class="bar__li bar__catalog"><a routerLink="/icecream">Каталог</a>
      <ul class="bar__list">
        <li class="bar__first">Новинки</li>
        <li><a routerLink="/icecream">Сливочное</a></li>
        <li><a routerLink="/icecream">Щербеты</a></li>
        <li><a routerLink="/icecream">Фруктовый лед</a></li>
        <li><a routerLink="/icecream">Мелорин</a></li>
      </ul>
    </li>
    <li class="bar__li">
      <a routerLink="/nocontent">Доставка и оплата</a>
    </li>
    <li class="bar__li">
      <a routerLink="/nocontent">О Компании</a>
    </li>
  </ul>
</div>
